<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299959083700-fc5l76p7m87jjlq4geno5da40ocbpvao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299959083700-fc5l76p7m87jjlq4geno5da40ocbpvao</string>
	<key>API_KEY</key>
	<string>AIzaSyAfOgWZoxd-jUARzHHWS1XP7RUC0G_lCPg</string>
	<key>GCM_SENDER_ID</key>
	<string>299959083700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>macappstudio.com.mediyoga-doctor</string>
	<key>PROJECT_ID</key>
	<string>mediyoga-doctor</string>
	<key>STORAGE_BUCKET</key>
	<string>mediyoga-doctor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299959083700:ios:7acdc294ea163253fd2de1</string>
	<key>DATABASE_URL</key>
	<string>https://mediyoga-doctor.firebaseio.com</string>
</dict>
</plist>